<nav class="navbar navbar-light bg-info">
    <div class="container">
        <h1 style="color: white">Add New Employee</h1>
        <div *ngIf="message" style="position: absolute;
        transform: translateX(50%); right: 50%; " class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> Employee Added Succesfully.
            <button (click)="remove()" type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close"></button>
        </div>
        <a href="#" routerLink="/post/index" class="btn btn-success">Back</a>

    </div>
</nav>
<div class="container-fluid image  ">
    <div class="container  p-4 newimg">

        <form [formGroup]="form" (ngSubmit)="submit()" class="needs-validation">

            <div class="form-group">
                <label class="m-2" style="font-size: 1.4rem; font-weight:600;" for="firstname">First Name <span>
                        *</span></label>
                <input formControlName="firstname" id="firstname" autocomplete="off" type="text" class="form-control"
                    [ngClass]="{ 'is-invalid': (f.firstname.dirty || f.firstname.touched) && f.firstname.invalid }">
                <div class="invalid-feedback" *ngIf="(f.firstname.dirty || f.firstname.touched) && f.firstname.invalid">
                    <div *ngIf="f.firstname.errors">First Name is required.</div>
                </div>
            </div>
            <div class="form-group">
                    <label>Date of Birth</label>
                    <input type="date" formControlName="dob" class="form-control" />
                </div>
            <div class="form-group">
                <label class="m-2" style="font-size: 1.4rem; font-weight:600;" for="email">Email<span> *</span></label>
                <input formControlName="email" autocomplete="off" id="email" type="text" class="form-control"
                    [ngClass]="{ 'is-invalid': (f.email.dirty || f.email.touched) && f.email.invalid }">
                <div class="invalid-feedback" *ngIf="(f.email.dirty || f.email.touched) && f.email.invalid">
                    <div *ngIf="f.email.errors">Email is required.</div>
                </div>
            </div>
            <div class="form-group">
              <label>country</label>
            <select class="form-control" name="country" formControlName="country" id="country"  (change)="change($event)">
              <option value="" disabled selected>Select Country</option>
              <option  *ngFor="let country of products" value="{{country.name}}" ngDefaultControl>
                {{country.name}}
              </option>
            </select>
            </div>

                <!-- <div formArrayName="hobbies">
                    <h4 class="m-2"> Add Your Hobbies</h4>
                    <div class="form-group " style=" display: flex;" *ngFor="let hobbyControl of getHobbies(); let i = index">
                        <input type="text" style="width: 50%;" placeholder="Enter your Hobby" class="form-control m-2" [formControlName]="i">
                        <button class="btn btn-danger m-2" type="button" (click)="deletehobbies(i)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg>
                        </button>
                    </div>
                    <button class="btn btn-info m-2" type="button" (click)="onAddHobby()">Add Hobby<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z"/>
                      </svg></button>

                </div> -->
                <div class="form-group">
                  <label>Add Your Avatar</label>
                <div class="form-control">
                  <input type="file" name="imageUpload" id="=imageUpload"  (change)="upload($event.target)">

                  </div>
                </div>
                <img [src]="imageUrl">
            <button class="btn btn-success mt-2 " type="submit" [disabled]="!form.valid">Add New Employee</button>
        </form>
    </div>
</div>
